.title {
    font-size: 26;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.fab-button-bottom {
    height: 60;
    width: 60;
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
    color: #FFF;
    background-color: #ff4081;
}

.commands{
    padding: 10 5;
    background-color: #f0f0f0;
}

.commands Button{
    font-size: 14;
}