.title {
    font-size: 26;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.fab-button {
    height: 70;
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
    color: red;
}