.title {
    font-size: 26;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.fab-button-bottom {
    height: 50;
    width: 50;
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
    color: #FFF;
    background-color: #ff4081;
}

.options{
    background-color: #f0f0f0;
}

.options Button{
    font-size: 14;
}