.fab-button {
	height: 50;
	width: 50;
	margin: 15;
	color: #fff;
	background-color: #ff4081;
}

.top-left {
	background-color: red;
	horizontal-align: left;
	vertical-align: top;
}

.top-right {
	background-color: #336699;
	horizontal-align: right;
	vertical-align: top;
}

.bottom-left {
	background-color: #fff000;
	horizontal-align: left;
	vertical-align: bottom;
}

.bottom-right {
	horizontal-align: right;
	vertical-align: bottom;
}

.center {
	horizontal-align: center;
	vertical-align: center;
}
